{% extends 'base.html' %}
{% block contenido %}

    <section>
        <table class="table table-bordered">
        <thead>
            <tr>
                <td>Título</td>
                <td>Orden</td>
                <td>Archivo</td>
                <td>Autor</td>
                <td>Editorial</td>
            </tr>
        </thead>
        <tbody>
            {% for b in listbooks %}
                <tr>
                    <td>{{b.title}}</td>
                    <td>{{b.order}}</td>
                    <td><img width="100" class="img-thumbnail" src='{{b.cover_image.url}}'></td>
                    <td>{{b.author.first_name}} {{b.author.last_name}}</td>
                    <td>{{b.editorial}}</td>
                    <td><a class="btn btn-primary" href="/edit_book/{{ b.id }}">Editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </section>
{% endblock %}
